body, td { font-family: "Trebuchet MS",verdana,arial; padding: 0px; margin:0px; }

#header { padding:8px; }
#content { padding: 8px 20px;}

#footer { margin:50px 0px 0px 0px; background-color:#f3f7fb; font-size:x-small; padding:10px 0px 100px 0px; text-align:center; clear:both; }
#footer a, #footer a:visited { color:black; text-decoration:none; }

img.logo { position:absolute; top:3px; left: 8px;}

.message { background-color: #FFFFCC; margin: 3px 0px; padding:5px; border:1px solid silver; }
.error { background-color: red; margin: 5px 0px; padding:5px; border:1px solid silver; color:white; }

.icon { vertical-align:middle; }

#nav { position:absolute; right: 10px; top: 20px;}
#nav .icon { margin-left:8px;}

.navtab a { text-decoration:none; font-size:x-small; clear:both;}

#loginContainer form { text-align:left; width:450px; background-color:#f1f1f1; padding: 20px 30px; border:3px solid silver; margin-top:20px; border-radius:8px;  }
#loginContainer input { margin-left: 130px; margin-bottom:7px; font-size:larger; }
#loginContainer label { position:absolute; width:120px; text-align:right; }

.labled input, .labled select, .labled textarea { margin-left: 170px; margin-bottom:7px;  }
.labled label { position:absolute; width:160px; text-align:right; }

table.data { margin-left: 10px;  }
table.data th { border-bottom:1px solid black; padding:3px 6px; text-align:left; }
table.data td { padding: 3px 6px;}
table.data td.item {}
table.data td.val { text-align:right; }

.pieColor { display:inline; padding:0px 6px; margin-right: 6px;}
.pieChart { float:left;color:white;margin-right:20px; }

.pie_left { width:48%; float:left; margin-bottom:5px; }
.pie_right { width:48%; float:right;  margin-bottom:5px; }
.pie_full { width: 98%; }
.pie_full table.data { width:80%;} 
.pie_left table.data, .pie_right table.data { width:300px; }

form.filter { display:inline; margin:6px 0px; font-size: xx-small; vertical-align:middle;}
form.filter input, form.filter select { font-size:xx-small;}
form.filter label { font-size: xx-small}
#topFilter { padding:6px; background-color:#f1f1f1; border-radius:6px; text-align:center;}

table.dashboard {  border:1px solid #f1f1f1; border-bottom:0px; }
table.dashboard th { background-color: #f1f1f1; border-bottom:3px solid silver; }
table.dashboard th.nofill { background-color: white; border-right:2px solid #f1f1f1; }
table.dashboard td { text-align:right; border-bottom: 1px solid #f1f1f1; }
table.dashboard .blocked, table.dashboard .logged { text-align:center; font-size:xx-large; border-left: 3px solid #f1f1f1;  }
table.dashboard .spark { border-left: 2px solid #f1f1f1; text-align:left; }
table.dashboard .period {  }

table.logs {  }
table.logs th { text-align:left; border-bottom: 1px solid black; padding: 5px; }
table.logs td { padding: 5px;}
table.logs tr.row1 { background-color: #f3f7fb; }
table.logs td.level { padding: 8px; }
div.level { padding:3px; width:30px; text-align:center; color:white; }
.level10, .level9, .level8 { background-color: red; }
.level7, .level6, .level5 { background-color: orange; }
.level4, .level3, .level2, .level1, .level0 { background-color:green; }

table.logDetail {  }
table.logDetail td { padding:8px; }
table .prop { text-align:right; font-weight:bold; background-color:#f3f7fb; border-bottom:1px solid white; min-width:150px; }

table.firewall_dump td { padding: 8px; }
table.firewall_dump th { border-bottom: 1px solid black; text-align:left; background-color: #f1f1f1; }
table.firewall_dump table { border-left:1px solid silver; }
table.firewall_dump table td { border-bottom: 1px solid silver; border-right: 1px solid silver; }

.pieColor1 {background-color:red;}
.pieColor2 {background-color:#FF9900;}
.pieColor3 {background-color:#1E90FF;}
.pieColor4 {background-color:green;}
.pieColor5 {background-color:#9900CC;}
.pieColor6 {background-color:pink;}
.pieColor7 {background-color:brown;}
.pieColor8 {background-color:orange;}
.pieColor9 {background-color:yellow;}
.pieColor10 {background-color:#F0F8FF;}
.pieColor11 {background-color:#7FFFD4;}
.pieColor12 {background-color:#FFD700;}
.pieColor13 {background-color:black;}

#byDayChart { width:80%;height:250px; display:none; margin-bottom:16px; margin-left:5%; }
#byDayData { display:none; }

.clear { clear:both; }

/* improve filter form display on tablets and phones */
.break-narrow { display:inline;}
@media (max-width: 1075px) { 
	#topFilter { padding: 14px 6px;}
	.break-narrow { display:block; margin-bottom: 6px; }
}
@media (max-width: 590px) { 
	form.filter input, #topFilter select { display:block;}
	form.filter label { text-align:left; width:100%; }
}
@media (min-width: 500px) { 
	body > .container { margin-left:20px; margin-right:20px; width:auto; }
}