<html><head><title>Component CFImageEffects</title>


<style>
body  {
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #FFFFFF;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 10px;
}

table	{
	font-size: 11px;
	font-family: Verdana, arial, helvetica, sans-serif;
	width: 90%;
}

th {
	padding: 6px;
	font-size: 12px;
	background-color: #cccccc;
}

td {
	padding: 6px;
	background-color: #eeeeee;
	vertical-align : top;
}

code {
	color: #000099 ;
}
</style></head><body style="padding-bottom: 800px;">



<a href="http://foundeo.com/"><img src="images/foundeo.png" align="right" border="0" /></a>


<font size="+1"><b>Component CFImageEffects
(CFImage Effects)
</b></font>





<br><br><br>
<p>Image Effects for the CFImage Tag and Image Functions.</p>

<br>
	<table>


<tbody>


 



<tr><td>properties:</td>
	
	
	<td></td>
</tr>

<tr><td>methods:</td>
	<td> <a href="#method_applyDropShadowEffect">applyDropShadowEffect</a>, <a href="#method_applyPlasticEffect">applyPlasticEffect</a>, <a href="#method_applyReflectionEffect">applyReflectionEffect</a>, <a href="#method_applyRoundedCornersEffect">applyRoundedCornersEffect</a>, <a href="#method_drawGradientFilledRect">drawGradientFilledRect</a>, <a href="#method_darkenImage">darkenImage</a>, <a href="#method_brightenImage">brightenImage</a>, <a href="#method_sepiaTone">sepiaTone</a> <a href="#method_init">init</a></td>
</tr>

</tbody></table>
<font size="-2">* - private method</font>



<br><br><table>


	
	
	
	
	
	<tbody><tr><th colspan="1" align="left">
		<a name="method_applyDropShadowEffect">applyDropShadowEffect</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
	<b>applyDropShadowEffect</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj,
	
		
		<i>
		
		string
		</i>
		backgroundColor="white",
	
		
		<i>
		
		string
		</i>
		shadowColor="#A19FA4",
	
		
		<i>
		
		numeric
		</i>
		shadowWidth="3",
	
		
		<i>
		
		
		</i>
		shadowDistance="4"
		
	)
	
	</code>
	<br><br>	
	
	
	Returns a new image with a dropshadow, increased height and width by shadowWidth+shadowDistance<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			- A ColdFusion Image Object you wish to add a drop shadow to.
			<br>
		
			
			&nbsp;&nbsp; <b>backgroundColor:</b>
			string,
			optional,
			backgroundColor
			- background color the image will be displayed on.
			<br>
		
			
			&nbsp;&nbsp; <b>shadowColor:</b>
			string,
			optional,
			shadowColor
			- the color of the drop shadow, you typically want a grayish color
			<br>
		
			
			&nbsp;&nbsp; <b>shadowWidth:</b>
			numeric,
			optional,
			shadowWidth
			
			<br>
		
			
			&nbsp;&nbsp; <b>shadowDistance:</b>
			any,
			optional,
			shadowDistance
			
			<br>
		
	
	
	<br>
	</td></tr>


	
	
	
	
	
	<tr><th colspan="1" align="left">
		<a name="method_applyPlasticEffect">applyPlasticEffect</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>applyPlasticEffect</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj,
	
		
		<i>
		
		string
		</i>
		backgroundColor="white",
	
		
		<i>
		
		numeric
		</i>
		startOpacity="60",
	
		
		<i>
		
		numeric
		</i>
		endOpacity="20"
		
	)
	
	</code>
	<br><br>	
	
	
	Adds a plastic look to the image. Returns a new Image<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			
			<br>
		
			
			&nbsp;&nbsp; <b>backgroundColor:</b>
			string,
			optional,
			backgroundColor
			
			<br>
		
			
			&nbsp;&nbsp; <b>startOpacity:</b>
			numeric,
			optional,
			startOpacity
			- must be between 0 and 100, controls the opacity at the top of the mirror
			<br>
		
			
			&nbsp;&nbsp; <b>endOpacity:</b>
			numeric,
			optional,
			endOpacity
			- must be between 0 and 100
			<br>
		
	
	
	<br>
	</td></tr>


	
	
	
	
	
	<tr><th colspan="1" align="left">
		<a name="method_applyReflectionEffect">applyReflectionEffect</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>applyReflectionEffect</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj,
	
		
		<i>
		
		string
		</i>
		backgroundColor="white",
	
		
		<i>
		
		numeric
		</i>
		mirrorHeight="40",
	
		
		<i>
		
		numeric
		</i>
		startOpacity="60"
		
	)
	
	</code>
	<br><br>	
	
	
	adds a mirrored look or reflection look, as if the image were on a glass or shiny surface. Returns a new image.<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			
			<br>
		
			
			&nbsp;&nbsp; <b>backgroundColor:</b>
			string,
			optional,
			backgroundColor
			
			<br>
		
			
			&nbsp;&nbsp; <b>mirrorHeight:</b>
			numeric,
			optional,
			mirrorHeight
			- Number of pixels high the mirror will be, this will increase the overall image height by this amount.
			<br>
		
			
			&nbsp;&nbsp; <b>startOpacity:</b>
			numeric,
			optional,
			startOpacity
			- must be between 0 and 100, controls the opacity at the top of the mirror
			<br>
		
	
	
	<br>
	</td></tr>


	
	
	
	
	
	<tr><th colspan="1" align="left">
		<a name="method_applyRoundedCornersEffect">applyRoundedCornersEffect</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>applyRoundedCornersEffect</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj,
	
		
		<i>
		
		string
		</i>
		backgroundColor="white",
	
		
		<i>
		
		numeric
		</i>
		cornerSize="20"
		
	)
	
	</code>
	<br><br>	
	
	
	Takes an image and returns a new image with rounded corners.<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			
			<br>
		
			
			&nbsp;&nbsp; <b>backgroundColor:</b>
			string,
			optional,
			backgroundColor
			
			<br>
		
			
			&nbsp;&nbsp; <b>cornerSize:</b>
			numeric,
			optional,
			cornerSize
			
			<br>
		
	
	
	<br>
	</td></tr>


	
	
	
	
	
	<tr><th colspan="1" align="left">
		<a name="method_drawGradientFilledRect">drawGradientFilledRect</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>drawGradientFilledRect</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj,
	
		
		<i>
		
		numeric
		</i>
		x="0",
	
		
		<i>
		
		numeric
		</i>
		y="0",
	
		
		<i>
		
		numeric
		</i>
		width="0",
	
		
		<i>
		
		numeric
		</i>
		height="0",
	
		
		<i>
		
		string
		</i>
		startColor="black",
	
		
		<i>
		
		string
		</i>
		endColor="white",
	
		
		<i>
		
		variablename
		</i>
		gradientDirection="vertical"
		
	)
	
	</code>
	<br><br>	
	
	
	Draws a rectangle with a gradient fade from a start color to and end color. Returns a reference to the image<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			
			<br>
		
			
			&nbsp;&nbsp; <b>x:</b>
			numeric,
			optional,
			x
			
			<br>
		
			
			&nbsp;&nbsp; <b>y:</b>
			numeric,
			optional,
			y
			
			<br>
		
			
			&nbsp;&nbsp; <b>width:</b>
			numeric,
			optional,
			width
			
			<br>
		
			
			&nbsp;&nbsp; <b>height:</b>
			numeric,
			optional,
			height
			
			<br>
		
			
			&nbsp;&nbsp; <b>startColor:</b>
			string,
			optional,
			startColor
			
			<br>
		
			
			&nbsp;&nbsp; <b>endColor:</b>
			string,
			optional,
			endColor
			
			<br>
		
			
			&nbsp;&nbsp; <b>gradientDirection:</b>
			variablename,
			optional,
			gradientDirection
			- horizontal or vertical
			<br>
		
	
	
	<br>
	</td></tr>


	<tr><th align="left" colspan="1">
		<a name="method_brightenImage">brightenImage</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>brightenImage</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj
		
	)
	</i>
	</code>
	<br><br>	
	
	
	Brightens the given image.<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			- The CFImage Object.
			<br>
		
	
	
	<br>
	</td></tr>


	
	
	
	
	
	<tr><th align="left" colspan="1">
		<a name="method_darkenImage">darkenImage</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>darkenImage</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj
		
	)
	</i>
	</code>
	<br><br>	
	
	
	Darkens the given image.<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			- The CFImage Object.
			<br>
		
	
	
	<br>
	</td></tr>


	
	<tr><th align="left" colspan="1">
		<a name="method_sepiaTone">sepiaTone</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>any</i>
	
	<b>sepiaTone</b>
	
	(
 	
		
		<i>
		
		
		</i>
		imageObj
		
	)
	</i>
	</code>
	<br><br>	
	
	
	Adds a Sepia Tone to the given image<br><br>
	
	Output: suppressed<br>
	
	
	
		Parameters:<br>
		
			
			&nbsp;&nbsp; <b>imageObj:</b>
			any,
			optional,
			imageObj
			- The image object
			<br>
		
	
	
	<br>
	</td></tr>

	
	
	
	
	<tr><th colspan="1" align="left">
		<a name="method_init">init</a>
		
		</th></tr>
	<tr><td>
	
	
	
	<code>
	
	
		<i>component</i>
	
	<b>init</b>
	
	(
 		
	)
	
	</code>
	<br><br>	
	
	
	Returns a reference to this object<br><br>
	
	Output: suppressed<br>
	
	
	
	<br>
	</td></tr>

	

</tbody></table>



		

		
		
	</body></html>