BODY {
	color : 002350;
	font-family : Arial, Helvetica, sans-serif;
	scrollbar-base-color : e4e4e4;
	scrollbar-shadow-color : e4e4e4;
	scrollbar-track-color : f4f4f4;
} 
	 
BODY.main {
	margin-bottom : 12px;
	margin-left : 10px;
	margin-right : 7px;
	margin-top : 12px;
} 	 

BODY.dialog {
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
} 	

BODY.dialog2 {
	margin-bottom : 2px;
	margin-left : 5px;
	margin-right : 4px;
	margin-top : 4px;
} 	  

TABLE {
	font-family : Arial, Helvetica, sans-serif;
	color : 002350;
	border-collapse : collapse;}
	
TABLE.regular {
	font-family : Arial, Helvetica, sans-serif;
	color : 002350;}	
		
TABLE.hide { 
    display:none;
    }	
	
TR.hide { 
    display:none;
    }	
		
IMG.hide {
    display:none;
    }	
	
IMG.regular {
}		

TD { 
 	font-family : Arial, Helvetica, sans-serif; 
	font-size : 9pt; 
	}
	
TD.large { 
 	font-family : verdana; 
	font-size : 9pt; 
	}	
	 
TD.def { 
 	font-family : Arial, Helvetica, sans-serif; 
	font-size : 10pt; 
	}	
	
TD.label {
	font-family : tahoma; 
	border : 1px; 	font-size : 8pt; 	
	background  : 002350; 	
	color : white; 
	}
	
TD.bannerXL {
	font-family : Georgia; 
	border : 1px; 	font-size : 8pt; 	
	background  : 002350; 	
	color : white; 
	height : 28px;
	}	
	
TD.bannerXLN {
	font-family : Georgia; 
	border : 1px; 	font-size : 8pt; 	
	background  : 002350; 	
	color : white; 
	height : 28px;
	background-image :  url(../../../Images/title_table1.jpg);
	}	
	
TD.bannerN {
	font-family : Georgia;
	border : 1px;
	font-size : 8pt;
	background : 002350;
	color : white;
	background-image :  url(../../../Images/title_table.jpg);
	
}		

TD.bannerN2 {
	font-family : Verdana;
	border : 1px;
	font-size : 8pt;
	background : 002350;
	color : black;
	background-image :  url(../../../Images/title_table2.jpg);
}		

TD.bannerN3 {
	font-family : Verdana;
	border : 1px;
	font-size : 8pt;
	background : 002350;
	color : black;
	background-image :  url(../../../Images/background_grayfade2.gif);
}	

TD.bannerN4 {
	font-family : Georgia;
	border : 1px;
	font-size : 8pt;
	background : 002350;
	color : 002350;
	background-image :  url(../../../Images/title_table4.jpg);
}	

TD.bannerN5 {
	font-family : Verdana;
	border : 1px;
	font-size : 8pt;
	background : f4f4f4;
	color : black;
}			
 			 	
TD.banner {
	font-family : Georgia; 
	border : 1px; 	
	font-size : 8pt; 	
	background  : 002350; 	
	color : white; 
	}		
	
TD.topN { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  6688aa; 
	background-image :  url(../../../Images/titlesub_table.jpg);
	color : white; 
	} 		

TD.topN a {
	color:#FFFFFF
	}
	
TD.top2N { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  #8EA4BB; 
	background-image :  url(../../../Images/titlesubsub_table.jpg);
	color : black; 
	} 	
	
TD.top3N { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  #8EA4BB; 
	background-image :  url(../../../Images/gray_shade.jpg);
	color : black; 
	} 		
	
TD.top3ND { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  #8EA4BB; 
	background-image :  url(../../../Images/gray_shadeD.jpg);
	color : black; 
	} 			
	
TD.top4N { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background-image :  url(../../../Images/background_bluefade.jpg);
	color : black; 
	} 
	
TD.top5N { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background : EBEBD6;
	color : black; 
	} 					
	
 TD.top { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  6688aa; 
	color : white; 
	} 
 TD.top1 { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  6688aa; 
	color : white; 
	} 	
TD.top2 { 
 	font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  #8EA4BB; 
	color : white; 
	} 
	
TD.top3 {
	font-family : tahoma;
	border : 1px;
	font-size : 8pt;
	background : 708090;
	color : white;
} 	

TD.top4 {
	font-family : tahoma;
	border : 1px;
	font-size : 8pt;
	background : maroon;
	color : white;
} 	
			
TD.header { 
	font-family : tahoma; 
	font-size : 8pt; 
	background : white; 
	} 
	
TD.header1 { 
	font-family : tahoma; 
	font-size : 8pt; 
	background : D3D3D3; 
	} 	

TD.headerR { 
	align : right;
	font-family : tahoma; 
	font-size : 9pt; 
	background : f6f6f6; 
	} 
TD.regular { 
	font-family : tahoma; 
	font-size : 8pt; 
	height : 15px; 
	} 
	
TD.regularB { 
	font-family : tahoma; 
	font-size : 8pt; 
	background : EAF4FF;
	} 	
	
TD.regularG { 
	font-family : tahoma; 
	font-size : 8pt; 
	background : CCFFCC;
	} 		
			
TD.regularW { 
	font-family : tahoma; 
	font-size : 8pt; 
	height : 15px; 
	color : white;
	} 	
	
TD.highLight { 
    font-family : tahoma; 
	border : 1px; 
	font-size : 8pt; 
	background :  #EEE8AA; 
	color : black; 
	}	
	
TD.highLightC4 {
	BACKGROUND-COLOR: ffffcf;
	color : black;
}		
		
TD.regNoPrint { 
	font-family : tahoma; 
	font-size : 8pt; 
	height : 15px; 
    } 
		
TD.regularBig { 
	font-family : tahoma; 
	font-size : 10pt; 
	height : 15px;
	line-height: 25pt; 
	}
TD.notify {
	font-family : tahoma;
	font-size : 8pt;
	height : 15px;
	color : Maroon;
	font-style : italic;
	font-weight : bolder;
} 	

TD.hide {
	display:none;
} 	
	
TD.regularlist { 
	font-family : tahoma; 
	font-size : 8pt; 
	height : 15px; 
}

TD.Show {
  font-size : 7pt;
  font-family: Trebuchet MS;
  color : white; 
     }	
	 
TR.hide {
	display:none;
} 		 
	
TR.highLight { 
	BACKGROUND-COLOR: #8EA4BB; 
	color : black; 
	}
	
TR.highLight1 {
	BACKGROUND-COLOR: #EEE8AA;
	color : black;
}	
		
TR.highLight2 { 
	BACKGROUND-COLOR: #ffffcf; 
	color : black; 
	}	
	
TR.highLight3 {
	BACKGROUND-COLOR: #F08080;
	color : black;
}		

TR.highLight4 {
	BACKGROUND-COLOR: #ADD8E6;
	color : black;
}	

TR.highLightC4 {
	BACKGROUND-COLOR: #990033;
	color : #FFFFCC;
}	

TR.regular { 
	color: Black; 	
	}

TR.deny {
	BACKGROUND-COLOR: #FF8888;
	color : black;
}	
	
A { 
	text-decoration: none; 
	color: black;
	
	} 
A:Hover { 
	text-decoration: underline; 
	color: gray; 
	
	} 
HR { 
	color: 6688aa; 
	height: 1pt; 
	} 
SELECT { 
	color : 6688aa; 
	font-size : 8pt; 
	}
TEXTAREA { 
	font-size : 9pt; 
	color : 6688aa; 
	border-color : Silver ;
	} 
	
TEXTAREA.regular { 
	font-size : 8pt; 
	color : 002350; 
	BACKGROUND-COLOR: #FFFFFF;   
  	border : 1px solid; 
	border-color : #97A8BB ;
	}
	
TEXTAREA.regular2 {
	font-size : 8pt;
	color : 6688aa;
	BACKGROUND-COLOR: F4F4F4;
	border : 1px solid;
	border-color : Silver ;
}	
	
TEXTAREA.regular3 {
	font-size : 8pt;
	color : 6688aa;
	BACKGROUND-COLOR: #f6f6f6;
	border : 1px solid;
	border-color : Silver ;
	scrollbar-base-color : Silver;
	scrollbar-face-color : Silver;
	scrollbar-arrow-color : Black;
}

TEXTAREA.hide {
	display:none;
} 	
		
TEXTAREA.disabled { 
	font-size : 8pt; 
	color : gray; 
	BACKGROUND-COLOR: #F6F6F6; 
  	border : 1px solid; 
  	} 
	
INPUT { 
    font-size : 8pt; 
    }
	
INPUT.hide { 
    display:none;
    }	
	
INPUT.regularP {
	font-size:9pt;
	color : 002350;
	border : 1px solid;
	border-color : #97A8BB;
	background : gray;
	
} 	
	
INPUT.regular {
	font-size:8pt;
	color : 002350;
	border : 1px solid;
	border-color : #97A8BB;
	background : white;
} 

INPUT.regular1 {
	font-size:8pt;
	color : black;
	border : 0px solid;
	background : ffffff;
} 
	
INPUT.regular2 {
	font-size : 8pt;
	color : 002350;
	border : 1px solid;
	border-color : Silver ;
	background : #FFF5EE;
	border-color : Silver ;
} 

INPUT.regular3 {
	font-size : 8pt;
	color : 6688aa;
	border : 1px solid;
	background : ffffcf;
	border-color : Silver ;
	} 
		
INPUT.amount {
	font-size : 8pt;
	color : 002350;
	border : 1px solid;
	background : white;
	border-color : Silver ;	
	text-align : right;
} 	

INPUT.amount2 {
	font-size : 8pt;
	color : 002350;
	border : 1px solid;
	background : f6f6f6;
	border-color : Silver ;	
	text-align : right;
} 	

INPUT.disabled { 
	font-size : 8pt; 
	color : 6688aa; 
	border : 1px solid; 
	background : f7f7f7; 
	text-align : left;
	}
	

SELECT.hide { 
    display:none;
    }	
	
DIV.hide { 
    display:none;
    }	
	
DIV.regular { 
    display:none;
    }	
				
SELECT.regular {    
    font-size : 8pt;
    }	
	
				
INPUT.button1 {
	font-size : 8pt;
	background : background;
	border : 1px solid #002350;
	cursor: hand;
	color : White;
} 

INPUT.button2 { 
	font-size : 7.5pt; 
	background: white; 
	border  : 1px solid; 
	cursor: hand;
	}
INPUT.button3 { 
	font-size : 7.5pt; 
	background: #C9D3DE; 
	border  : 1px solid #002350; 
	color: #002350; 
	cursor: hand;
	}	
		
INPUT.button4 { 
	font-size : 8pt; 
	color: white;
	background: maroon; 
	font-family : verdana;
	border  : 1px solid #002350; 
	cursor: hand;
	}	
	
INPUT.button5 { 
	font-size : 2pt; 
	color: white;
	background: white; 
	border  : 0px solid #002350; 
	}	
	
INPUT.button6 {
	font-size : 7.5pt;
	color: Black;
	background: #C1E1EC;
	border : 1px solid #002350;
}		
	
INPUT.button7 {
	font-size : 7.5pt;
	color: black;
	border : 1px solid #002350;
	background:  url(../../../Images/gray_shade.JPG); 
	}
	
INPUT.button7B {
	font-size : 8pt;
	color: black;
	border : 1px solid #002350;
	background:  url(../../../Images/gray_shade.JPG); 
	}	
	
INPUT.button8 {
	font-size : 8.5pt;
	color: black;
	border : 1px solid #gray;
	background:  url(../../../Images/background_bluefade.JPG)	}	
	
INPUT.button9 {
	font-size : 7.5pt;
	color: black;
	border : 1px solid #gray;
	background:  url(../../../Images/gray_shade.JPG); 
	}		
	
INPUT.button10 {
	font-size : 8pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : DFDFBD ;
	height : 18pt;
}		

INPUT.button10s {
	font-size : 7.5pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : DFDFBD ;
	height : 14pt;
}	

INPUT.button10p {
	font-size : 7pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : f4f4f4 ;
	height : 13pt;
}	

INPUT.buttonNav {
	font-size : 7.5pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : f4f4f4 ;
	height : 16pt;
}	

INPUT.buttonFlat {
	font-size : 7.5pt;
	color: 636334;
	border : 1px solid d4d4d4;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : efefef ;
	height : 16pt;
}	

INPUT.button10n {
	font-size : 8pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background-image :  url(../../../Images/title_table2.jpg);
	height : 14pt;
}												

INPUT.button10e {
	font-size : 8.0pt;
	color: white;
	border : 1px solid #gray;
	background:  url(../../../Images/Claim/background2.gif); 
	}		
			
BUTTON { 
	font-size : 7.5pt; 
	color : 6688aa; 
	cursor: hand;
	}
BUTTON.button1 { 
 	font-size : 7.5pt; 
	background-image :  url(../../../Images/title_table2.jpg);
	color: white; 
	border : 1px solid black; 
	cursor: hand;
	} 	

BUTTON.button2 { 
 	font-size : 7.5pt; 
	background: white; 
	color: #6688aa; 
	border : 1px solid gray; 
	cursor: hand;
	} 	
	
BUTTON.button3 { 
 	font-size : 7.5pt; 
	background: transparent; 
	color: #6688aa; 
	border : 0px solid; 
	cursor: hand;
	} 
	
BUTTON.button3b { 
 	font-size : 7.5pt; 
	background: transparent; 
	color: #6688aa; 
	border : 1px solid gray; 
	cursor: hand;
	} 					
		
BUTTON.button4 {
	font-size : 7.5pt;
	background: Maroon;
	color: White;
	border : 1px solid #6688aa;
	cursor: hand;
	}
BUTTON.button7 {
	font-size : 7.5pt;
	color: black;
	border : 1px solid #002350;
	background:  url(../../../Images/gray_shade.JPG)    } 		
BUTTON.button8 {
	font-size : 8.5pt;
	color: black;
	border : 1px solid #gray;
	background:  url(../../../Images/background_bluefade.JPG)	}		
	
BUTTON.button10 {
	font-size : 7.5pt;
	color: white;
	border : 1px solid #gray;
	background:  url(../../../Images/title_table2.jpg); 
	}	
	
BUTTON.button10p {
	font-size : 7pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : f4f4f4 ;
	height : 13pt;
}	

BUTTON.buttonNav {
	font-size : 7.5pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : f4f4f4 ;
	height : 16pt;
}	

BUTTON.buttonFlat {
	font-size : 7.5pt;
	color: 636334;
	border : 1px solid d4d4d4;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : efefef ;
	height : 16pt;
}	

BUTTON.buttonNav14 {
	font-size : 7.5pt;
	color: 636334;
	border : 1px ridge #gray;
	font-weight : normal;
	font-family : verdana;
	cursor : hand;
	background : f4f4f4 ;
	height : 14pt;
}	


BUTTON.button10e {
    font-size : 8.0pt;
	color: black;
	border : 1px solid black;
	background : e7e7e7 ;
	
	font-weight : normal;
	font-family : verdana;
	height : 18pt;
	}		
										

BUTTON.hide { 
    display:none;
    }				
.unnamed1 {
	line-height: 25pt;
}
