.currentPath {
 padding-left:5px;
 font-family:arial;
 font-size:12px;
 color:black;
}

.overAllContainer {
 background-color:buttonface;
 border-left:1px solid white;
 border-top:1px solid white;
 BORDER-BOTTOM: #848284 1px solid;
 BORDER-right: #848284 1px solid;
}

.innerStructure {
 background-color:buttonface;
}

.statusBar {
 border-left:1px solid #848284;
 border-top:1px solid #848284;
 border-right:1px solid #ffffff;
 border-bottom:1px solid #ffffff;
 font-family:arial;
 font-size:11px;
 padding-left:5px;
}

.titleBar {
 background-color:navy;
 font-family:arial;
 font-size:12px;
 color:white;
 font-weight:bold;
 padding-top:2px;
 padding-bottom:2px;
}

.toolbar {
 border-left:1px solid white;
 border-top:1px solid white;
 BORDER-BOTTOM: #848284 1px solid;
 BORDER-right: #848284 1px solid;
 padding:0px;
}

.buttonOff {
 border-left:1px solid buttonface;
 border-right:1px solid buttonface;
 border-top:1px solid buttonface;
 border-bottom:1px solid buttonface;
 font-family:arial;
 font-size:11px;
 cursor:pointer;
 cursor:hand;
 padding-right:2px;
 padding-bottom:2px;
 padding-right:5px;
}

.buttonOn {
 border-left:1px solid white;
 border-right:1px solid #848284;
 border-top:1px solid white;
 border-bottom:1px solid #848284;
 font-family:arial;
 font-size:11px;
 cursor:pointer;
 cursor:hand;
 padding-right:2px;
 padding-bottom:2px;
 padding-right:5px;
}

.buttonPressed {
 border-right:1px solid white;
 border-left:1px solid #848284;
 border-bottom:1px solid white;
 border-top:1px solid #848284;
 font-family:arial;
 font-size:11px;
 cursor:pointer;
 cursor:hand;
 padding-top:2px;
 padding-right:5px;
}