body
{
	width:100%;
}

td.serif{
	font-family:"Times New Roman",Times,serif;
	font-size : 8pt;
	font-weight:bold;
}

td.serif_small {
	font-family:"Times New Roman",Times,serif;
	font-size : 7pt;
	font-weight:bold;
}


td.gtext{
	font-family:"Times New Roman",Times,serif;
	font-size : 7pt;
}

td.gtext_small{
	font-family:"Times New Roman",Times,serif;
	font-size : 7pt;
}



#tdata td
{
	border:1px solid #000000;
	padding:3px 7px 2px 7px;
	width:100%;
}	

#tblank td
{
	border:0px;
	padding:3px 7px 2px 7px;
}			


#tmain
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}

#tdata_ap td
{
	border:1px solid #000000;
	padding:3px 6px 2px 7px;
}	


#tdata_ap td table td
{
	border:0px solid #000000;
	padding:3px 6px 2px 7px;
}	

#tdata_ap td table td table td
{
	border:0px solid #000000;
	padding:3px 6px 2px 7px;
}			
